body {
    display: block;
    background-color: white;
    font-family: "Arial", serif, sans-serif;
    font-size: 1.1em;
    margin: auto;
    width: 600px;
}
h2 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
}
header {
    display: flex;
    font-size: 0.9em;
}
footer {
  display: block;
  justify-content: center;
  text-align: center; 
}
.shadowbox {
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);  
}
img {
    padding: 5px;
    width: 100px;
}