/* media css for design-principles html*/
 @media only screen and (max-width:500px) { 
    
    main{
        display: grid;
        grid-template-columns: 1fr  1fr ;
        grid-gap: 30px;
     
    }
 }