/* 35rem is also 820px when basefont is 16px */
@media only screen and (min-width: 51rem) {



    .header-navigation {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 25px;
    }
    
    .header-div-05{
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .wrapper02 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
        grid-template-rows: repeat(6,auto);
        background-color: red;
        border: 1px solid red;
        padding: 5px;
    }
    .d {
        background-color: #fff;
        border: 1px solid #333;
    }
    .hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .event {
        grid-column: 1/4;
        grid-row: 5/6;
    }
    .weather {
        grid-column: 4/5;
        grid-row: 5/6;
    }
    .news {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .spotlight {
        grid-column: 1/5;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 50% 50%;
     
        grid-template-rows: 200px;
    }
    .spotlight3 {
        display: none;
    }
    .join {
        grid-column: 1/5;
        grid-row: 4/5;
    }    


    nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
       border: none;
       border-right: 1px solid rgba(0,0,0,0.3);
    }
} /* en medium */
