/* 35rem is also 820px when basefont is 16px */
@media only screen and (min-width: 51rem) {



    .header-navigation {
       
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 25px;
    }
    
    .header-div-05{
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .wrapper02 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-rows: repeat(6,auto);
        background-color: #fff;
        border: 1px solid red;
   
        z-index: -1;
    }
    .d {
        background-color: #fff;
        border: 1px solid #333;
    }
    .hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .heroimg {
        filter: opacity(90%);
        width: 100%;

    }
             
    .herotext {
        text-align:center;
        font-size: 18px;
        top: 50px;
        left: 50%;
        color: #184E77;
    }
    
    .herobutton {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #008CBA;
    }
   .herobutton:hover {
        background-color: yellow;
        color: red;
    }

    .event {
        grid-column: 1/4;
        grid-row: 5/6;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .weather {
        grid-column: 4/5;
        grid-row: 5/6;
        margin-top: auto;
        margin-bottom: auto;

    }
    .news {
        grid-column: 1/5;
        grid-row: 2/3;
        margin-left: auto;
        margin-right: auto;
    }
    .spotlight {
        grid-column: 1/5;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px;
        gap: 10px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .spotlight3 {
        display: none;
    }
    .join {
        display: block;
        grid-column: 1/5;
        grid-row: 4/5;
    }    


    nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
       border: none;
       border-right: 1px solid rgba(0,0,0,0.3);
    }
} /* en medium */